.quill .el-form-item__content {
    line-height: 0;
}
.skuItem {
    margin-bottom: 20px;
}
.skuContent {
    padding: 2vh;
    border: #dcdfe6 solid 1px;
    border-radius: 4px;
}
.sku {
    border-bottom: #dcdfe6 solid 1px;
    margin-bottom: 2vh;
}
